* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background: #001024;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}
.hide {
  display: none !important;
}
.container {
  background: #010c20;
  min-height: 400px;
  width: 400px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.644) 0px 5px 15px;
}
#calc-container h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-control {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 1rem;
}
.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.form-control input {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}
.action-control {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}
button {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  background-color: #bd1624;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #fff;
  flex: 1;
}
button:hover {
  transform: scale(1.1);
}
#calc-btn {
  background-color: transparent;
}
#result-container {
  text-align: center;
  display: flex;
  flex-direction: column;
}
#result-container p {
  display: flex;
  justify-content: space-around;

  margin-bottom: 0.6rem;
  color: #fff;
}
#result-container p span {
  font-size: 1.2rem;
  font-weight: 900;
}
#result-container h3 {
  margin-top: 1rem;
  color: #dfdfdf;
}
#imc-table {
  margin: 1.5rem 0;
  font-size: 0.8rem;
}
.table-header {
  font-weight: bold;
  color: #ccc;
}
.table-header,
.table-data {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #bdbdbd;
}
.table-header h4,
.table-data p {
  flex: 1;
}
.table-header h4:nth-child(3),
.table-data p:nth-child(3) {
  max-width: 80px;
}
#back-btn {
  align-self: center;
}
.good {
  color: #12db34;
}

.low {
  color: #dbce12;
}

.medium {
  color: #db6212;
}

.high {
  color: #bd1624;
}
